<!DOCTYPE html>
<html lang=es>
<head>
	<title>
		FANTASYGLOVES
	</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../public/css/eventos.css">
    <script src="../../public/css/prefijos.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
</head>

<body>

	<section id="Contenedor">

		<header>
			<h1 id="title">FANTASYGLOVE</h1>
            
            <nav id="navegador">
                <a id="Inicio" href="../view/main.html">Inicio</a>
                <a href="#">Blog</a>
                <a href="#">Eventos</a>
                <a id="About" href="#">About</a>
            </nav>
		</header>
        
		
		<section class="Principal">
            
            
        <div id="games"><a href="">Gamescom</a>
            <section class="gamescom" >
                
                <h1 >
                    GAMESCOM
                </h1>
                
                <img id="imagen_games" src="../../public/images/gamescom.jpg" align=left>
                
                
                
                <article id="gamescom">
                    La gamescom es la feria europea más importante de electrónica de consumo interactiva, en especial de videojuegos. Numerosos expositores de todo el mundo presentan en esta feria sus novedades de software y hardware de ocio.

                    La feria se celebró por primera vez en 2009 en el recinto de la koelnmesse en Colonia, Alemania. La feria nació a partir de la iniciativa del Bundesverband Interaktive Unterhaltungssoftware (BIU), la "Organización Nacional de Software de Ocio Interactivo". Hasta 2008 la BIU se había encargado de colaborar en la organización de la Games Convention en Leipzig, hasta que se decidió el traslado a Colonia.

                    La feria cuenta con una sección abierta al público en general y una sección exclusiva para los profesionales del sector (entre ellos, expositores, periodistas y desarrolladores), entre los que se encuentran también conferencias técnicas como la Game Developers Conference Europe.
                </article>
                
                <hr>
                
                
            </section>
		</div>
        <footer>
            Autor: Pablo Rayas
		</footer>
	</section>

</body>
    
</html>