<!DOCTYPE HTML>
<html lang="es">
<head>
    <title>HIGH FIGHTER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1 maximum-scale=1,minimum-scale=1"/>
    <link rel="stylesheet" href="../../public/css/formNewUser.css">
    
</head>
<body>
    <div class="bebe"></div>
    <div class="container">
        <form action="NONE">
            <h3>NUEVO USUARIO</h3>
            <label for="firstName">Primer nombre</label>
            <input id="firstName" type="text" name= "firstName" placeholder="&#128516; ejemplo: ELBA">
            <label for="fLastName">Primer apellido</label>
            <input id="fLastName" type="text" name= "firstLastName" placeholder="&#128516; ejemplo: SURITA">
            <label for="nName">nick de usuario</label>
            <input id="nName" type="text" name= "nickName" placeholder="&#128516; ejemplo: CHARRASKIADO">
            <label for="newPass">contraseña</label>
            <input id="newPass" type="password" name = "newPass" placeholder="teclea tu nueva contraseña">
            <label for="againPass">verifica contraseña</label>
            <input id="againPass" type="password" name = "newPass" placeholder="teclea de nuevo la contraseña">
            <label for="country">Pais</label>
            <select id="country" name="country">
                <option value="mexico">MEXICO</option>
                <option value="canada">CANADA</option>
                <option value="eua">EUA</option>
                <option value="japon">JAPON</option>
            </select>
            <input type="submit" value="ACEPTAR">
            
        </form>
    </div>
</body>
    
</html>