<!DOCTYPE html>
<html lang="es">
<head>
    <title>ROUND ONE</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1 maximum-scale=1,minimum-scale=1"/>
    <link rel="stylesheet" href="../../public/css/loginUser.css">
</head>
<body>
    <form action="NONE">
        <h2>Gamer User</h2>
        <!-- encontramos logos del placeholder en la pag unicode-table.com -->
        <input type="text" placeholder="&#128516; Usuario" name ="user">
        <input type="password" placeholder="&#128272; Contraseña" name="key">
        <input type="submit" value="ingresar">
        <input type="submit" value ="ingresar con google account">
    </form>
</body>

</html>