<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
	<title>
		FANTASYGLOVES
	</title>

	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../public/css/main.css">
    <script src="../../public/css/prefijos.js"></script>
</head>

<body>

	<section id="Contenedor">

		<header>
			<h1 id="title">FANTASYGLOVE</h1>
            
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Blog</a>
                <a href="#">Eventos</a>
                <a href="#">About</a>
            </nav>
		</header>
        
		
		<section class="Principal">
		  	text in contenedor
		</section>

		<footer>
            <section class="links">
                
            </section>
			
		</footer>
	</section>

</body>
    
</html>