*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family:"Orange";
    src: url("../../public/fonts/orange.ttf") format("truetype");
}

h1
{
    font-size: 10px;
    font-family: Arial;
}


#Contenedor
{
	border: 1px;
	height: 100%;
	width: 50em;
    max-width: 50em;
	margin-right: auto;
	margin-left: auto;
	border-radius: 21px;
    	
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer
{
    width: auto;
    background: blue;
    display: flex;
    align-content: center;
    padding: 20px;
    border-left: 60px;
}

h1
{
    font-family: fantasy;
    font-size: 40px;
}

#imagen_games
{
    height: 15em;
    width: 15em;
    align-content: center;
    margin: 1em;
    border: 2px black solid;
}

section .gamescom
{
    padding-left: 60px;
    padding-top: 40px;
    width: 40em;
    text-align: justify;
    border-color: black 1px;
}

body
{
    background-image: url("../../public/images/loginBackG.png");
    background-size:cover;
    width: 100%;
    height: 30em;
}

header
{
    background-color: coral;
	width: 100%;
    height: 150px;
    background-image: url("../../public/images/imagen_header.jpg");
    background-size: 100% 100%; 
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px 15px ;
    -moz-border-radius: 27px 27px;
    -webkit-border-radius: 27px 27px;
    border: 3px solid #000000;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header nav
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0.8;
}

#Inicio
{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#About
{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

header nav a
{
    color:darkorange;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: darkblue;
    display: block;
}

.Inicio
{
    border-left: 15px 15px ;
    -moz-border-radius: 27px 27px;
    -webkit-border-radius: 50px 50px;
}

header nav a:hover
{
    background: #008080;
}

.Principal 
{
    background:  #20B2AA;
    width: auto;
    height: auto;
    flex: 1 1 70%;
    border: black 1px solid;
}